.ajustes-container {
  position: relative;       
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('../assets/img/fondoajus.png'); 
  background-size: cover;   
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;   
  align-items: center;       
  flex-direction: column;
  color: white;             
  text-align: center;
  box-sizing: border-box;
}


.ajustes-container h1 {
  font-size: 3rem;
  font-weight: bold;
  color: black
}

.ajustes-container h3 {
  color: black;
  text-align: left;
}

.form-check {
  color: black;
}

