.farmacia-container {
  position: relative;
  padding: 70px;
  margin-top: -10;
}


.search-navbar {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 1000;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form .form-control {
  width: 1100px;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #94C2E5;
  border: 1px solid black;
  top: 1000;
}

.btn-search {
  padding: 8px 15px;
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #B0E6E8;
  cursor: pointer;
}

.btn-search:hover {
  background-color: #94d4d8;
}

.title-container {
  font-size: 3rem;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 20px;
}

.precauciones-container {
  width: 1000px;
  padding: 10px 20px;
  background-color: #B0E6E8;
  border: 2px solid black;
  border-radius: 30px;
  text-align: center;
  font-size: 2rem;
  color: #000;

  margin-top: 70px;
  margin-left: auto;
  margin-right: 120px;

  position: relative;
  left: 0px;
}

.carousel-item img {
  max-height: 500px; 
  width: auto;
  display: block;
  margin: 0 auto;
}

.carousel-caption {
  color: black !important;
  background-color: rgba(255, 255, 255, 0.6); 
  padding: 1rem;
  border-radius: 8px;
}

.carousel-caption h5,
.carousel-caption p {
  color: black !important;
}

/* .uy {
  height: auto;
  width: 200%;
} */
