.menu-container {
  width: 100%;
}


.menu-container .search-form { 
  padding: 4px;              
  border-radius: 6px;        
  display: flex;
  align-items: center;       
  flex-grow: 1;
  height: 38px;             
}


.menu-container .search-input {
  background-color: #94c2e5;    
  color: #111;                
  border: 1px solid black;    
  border-radius: 4px;         
  flex-grow: 1;              
  height: 100%;              
}



